.UFIRow.UFILikeSentence { /*Regular posts*/
	display: none;
}


._3399._1f6t._4_dr._20h5 {/*Addresses sponsored posts and "block"
posts when you check Facebook news. */
	display: none;
}
/*Refer to the top news story when you click a news story*/
._3t54 { /* The shown emojis*/
	display:none;
}
._1g5v{/*Could potentially be # of ppl who liked*/
	display:none;
}