/* 
Segmented Control made by Travis Arnold
Link to Segmented Control: https://codepen.io/souporserious/pen/pbkJD
Link to Github: https://github.com/souporserious?utf8=%E2%9C%93&tab=repositories&q=&type=&language=;
*/

$initial: #33B0E3;
$active: #0F90C0;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  /*background: $initial;*/
  margin: 0;
  padding: 0;
}

ul {
  position: relative;
  margin: 125px auto 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  list-style: none;
  border: 2px solid $active;
  cursor: pointer;
  &:nth-of-type(1) {
    border-radius: 3px 0 0 3px;
    border-right: none;
  }
  &:nth-of-type(3) {
    border-radius: 0 3px 3px 0;
    border-left: none;
  }
}

button {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 12px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.highlight {
  position: absolute;
  top: 0;
  display: block;
  width: 1px;
  height: 30px;
  background: $active;
  transform-origin: 0;
}